<!-- navbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="assets/images/logo.png">
    <span>logo</span>
    <span class="espaciador"></span>
    <button mat-icon-button >
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>