<div class="dsc-carousel" [ngStyle]="{'min-height':finalHeight}">
    <!-- contenedor botones anterior y siguiente -->
    <div class="dsc-carousel__btns">
        <i (click)="setBack()">
            <mat-icon>navigate_before</mat-icon>
        </i>
        <i (click)="setNext()">
            <mat-icon>navigate_next</mat-icon>
        </i>
    </div>
    <!-- contenedor de la imagen y titulo -->
    <div class="dsc-carousel__content">
        <ng-container *ngFor="let section of items">
            <div class="dsc-carousel__content-item" [ngStyle]="{'background-image': 'url(' + section.img + ')', 
            'margin-left': section.marginLeft + '%' }">
                <h1>{{section.tittle}}</h1>
                <p>{{section.subtittle}}</p>
            </div>
        </ng-container>
    </div>
    <!-- contenedor botones de posicion -->
    <div class="dsc-carousel__steps">
        <div 
            class="dsc-carousel__steps-step 
            dsc-carousel__steps-step-{{currentPosition === item.id ? 'active': ''}}" 
            *ngFor="let item of items" (click)="setCurrentPosition(item.id)">
        </div>
    </div>
</div>