.input {
    width : 80%;
    margin: 0 8%;
}

.textarea {
    height: 10vh;
}

.etiqueta {
    margin-left: 8%;
}

.tittle {
    margin-top    : 50px;
    text-transform: uppercase;
    font-weight   : bold;
}

.btn-enviar {
    float       : right;
    margin-right: 10vw;
}

mat-divider {
    border-top-color: rgba(218, 16, 141, 0.288);
    margin          : 10px;
}