<!-- formulario de contacto -->
<form [formGroup]="formularioContacto" (ngSubmit)="onSubmitContacto()">

    <h3 class="etiqueta tittle">CONTACTO</h3>
    <mat-divider></mat-divider>
    <mat-form-field class="input">
        <mat-label>Nombre (uppercase)</mat-label>
        <input matInput type="text" placeholder="Nombre" formControlName="name">
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Correo</mat-label>
        <input matInput type="text" placeholder="Correo electronico" formControlName="correo">
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Deja un comentario</mat-label>
        <textarea matInput class="textarea" placeholder="mensaje..." formControlName="mensaje"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" class="btn-enviar">enviar</button>
</form>