.container-inputs{
  display: flex;
}

.input-datos {
  width  : 50%;
  margin : 10px 8%;
}

.textarea {
  height: 10vh;
}

input:disabled {
  background: white;
}

.etiqueta {
  margin-left: 8%;
}
.label-adm{
  display: flex;
  width: 100%;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight   : bold;
}
.tittle {
  text-transform: uppercase;
  font-weight   : bold;
}

.slide-toggle {
  position: absolute;
  right   : 10vw;
}

.btn-save {
  position: absolute;
  right   : 10vw;
}


mat-divider {
  border-top-color: rgba(218, 16, 141, 0.288);
  margin          : 10px;
}