<div class="label-adm">
    <h1 class="etiqueta">¿ Eres Administrador ?</h1>
    <!-- directiva if para el administrador -->
    <mat-slide-toggle class="slide-toggle" (change)="onChange($event)" [ngModel]="checked"></mat-slide-toggle>
</div>
<form [formGroup]="formularioDatos" (ngSubmit)="onSubmitEmpresa()">
    <div class="container-inputs">
        <h3 class="etiqueta tittle">Datos de la empresa</h3>
        <button class="btn-save" type="submit" mat-mini-fab color="accent" *ngIf="checked">
            <mat-icon>save</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>

    <div formArrayName="datosEmpresa">
        <div *ngFor="let d of datosEmpresa.controls; let i = index;">
            <label class="etiqueta">{{d.value.name}}</label><br />
            <div class="container-inputs">
                <input class="input-datos" type="text" value="{{d.value.content}}" [disabled]="!checked" />
                <button mat-mini-fab color="primary" *ngIf="checked" (click)="borrarDatoEmpresa(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</form>
<div *ngIf="checked">
    <h3 class="etiqueta tittle">Añadir otro campo</h3>
    <mat-divider></mat-divider>
    <input type="text" class="input-datos" placeholder="nombre del campo nuevo" [(ngModel)]="name">
    <input type="text" class="input-datos" placeholder="contenido del campo nuevo" [(ngModel)]="content">

    <button mat-mini-fab color="primary" class="btn-delete" (click)="anadirDatoEmpresa(name,content)">
        +
    </button>

</div>