<app-header></app-header>
<mat-drawer-container >
    <!-- menu lateral -->
    <mat-drawer mode="side" opened class="sidemenu">
        <button mat-button routerLink="/home">
            <mat-icon class="icon" aria-hidden="false">home</mat-icon>
            <label class="btn-label">Home</label>
        </button>
        <button mat-button routerLink="/form">
            <mat-icon class="icon" aria-hidden="false">horizontal_split</mat-icon>
            <label class="btn-label">Contacto</label>
        </button>
        <button mat-button routerLink="/">
            <mat-icon class="icon" aria-hidden="false">shopping_cart</mat-icon>
            <label class="btn-label">Tienda</label>
        </button>
        <button mat-button routerLink="/">
            <mat-icon class="icon" aria-hidden="false">account_circle</mat-icon>
            <label class="btn-label">Cuenta</label>
        </button>
        <button mat-button routerLink="/">
            <mat-icon class="icon" aria-hidden="false">favorite</mat-icon>
            <label class="btn-label">Favoritos</label>
        </button>
        <button mat-button routerLink="/">
            <mat-icon class="icon" aria-hidden="false">help</mat-icon>
            <label class="btn-label">Soporte</label>
        </button>
    </mat-drawer>

    <mat-drawer-content>
        <!-- contenido de las paginas  -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>