app-header {
    position: fixed;
    z-index : 100;
    width   : 100%;
}

mat-drawer-content {
    margin: 60px 0;

}

.sidemenu {
    width     : 20vw;
    margin-top: 8vh;
    position  : fixed;
}

button {
    width  : 100%;
    height : 15vh;
    padding: 0;
}

.icon {
    position: absolute;
    left    : 1vw;
    top     : 5.5vh;
}

@media screen and (max-width: 600px) {
    .btn-label {
        display: none;
    }

    .sidemenu {
        width   : 70px;
        overflow: hidden;

    }

    .icon {
        position: relative;
        left    : 0;
        top     : 0;
    }
}
